.elements {
  margin: 51px 200px 0;
  display: grid;
  grid: repeat(2, 361px) / repeat(3, 282px);
  gap: 20px 17px;
}

@media screen and (min-width: 1281px) {
  .elements {
    grid: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 30px 25px;
  }
}

@media screen and (max-width: 1270px) {
  .elements {
    margin: 40px 100px;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .elements {
    grid: repeat(6, 361px) / 282px;
    margin: 36px 19px 0;
  }
}
