.footer__copyright {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  width: 880px;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    flex-direction: row;
    width: 668px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    flex-direction: row;
    width: 282px;
  }
}