.profile__redak {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__redak {
    padding-left: -6px;
    padding-right: -6px;
    width: 8px;
    height: 8px;
  }
}
